@model TruckingVSM.Models.VT_GetAllConsigneeWithArea_Result
@{
    ViewBag.Title = "Danh mục Khách hàng";
}

<h2>Danh mục Khách hàng</h2>
<br />

<div class="container">
    <a class="btn btn-success" style="margin-bottom:10px;" onclick="PopupForm('@Url.Action("AddOrEditConsignee","Index")')"><i class="fa fa-plus"></i> Thêm mới</a>
    <table id="consigneeTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Địa chỉ</th>
                <th>Tên viết tắt</th>
                <th>Mã số thuế</th>
                <th>Khu vực</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#consigneeTable").DataTable({
                "ajax": {
                    "url": "/Index/GetConsignee",
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Address" },
                    { "data": "ShortName" },
                    { "data": "TaxCode" },
                    { "data": "area" },
                    {
                        "data": "ID", "render": function (data) {
                            return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEditConsignee","Index")/" + data + "')><i class='fas fa-pencil-alt' ></i>Edit</a><a class='btn btn-danger btn-sm' style='margin-left:10px' onclick=Delete("+data+")><i class='fa fa-trash'></i>Delete</a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizeable: false,
                    title: 'Fill Consignee Details',
                    height: 500,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid())
            {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition : "top center",
                                className : "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if(confirm("Are you sure to delete this Consignee?"))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteConsignee","Index")/' + id,
                    success: function (data) {
                        if(data.success)
                        {
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
        }
    </script>
}