
@{
    ViewBag.Title = "Index";
}

<div class="container">
    Xin chào @HttpContext.Current.User.Identity.Name.Split('|')[1]
    <br />
    Chúc bạn có một ngày làm việc vui vẻ. Be professional to serve!
</div>

