<!doctype html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/notify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <style>
        .dataTables_filter {
            float: left !important;
        }
    </style>
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">
                <div class="p-4 pt-5">
                    <a href="/Index/Index" class="img logo mb-5" style="background-image: url('../../Content/themes/logo.png');"></a>
                    <ul class="list-unstyled components mb-5">
                        <li id="danhmuc">
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-folder-open"></i> Danh mục</a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li><a href="/Index/Consignee/">Khách hàng</a></li>
                                <li><a href="/Unit/Index/">Đơn vị tính</a></li>
                                <li><a href="/Driver/Index">Tài xế</a></li>
                                <li><a href="/Truck/Index">Xe vận tải</a></li>
                                <li><a href="/Location/Index">Địa chỉ</a></li>
                                <li><a href="/Trailer/Index">Rơ mooc</a></li>
                                <li><a href="/StdFee/Index">Biểu cước chuẩn</a></li>
                                <li><a href="/FeeByConsignee/Index">Biểu cước</a></li>
                                <li><a href="/ShippingLines/Index">Hãng tàu</a></li>
                                <li><a href="/Area/Index">Khu vực</a></li>
                                <li><a href="/OrderType/Index">Loại hàng</a></li>
                                <li><a href="/User/Index">Tài khoản</a></li>
                            </ul>
                        </li>
                        <li id="kehoach">
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-file-text"></i> Kế hoạch</a>
                            <ul class="collapse list-unstyled" id="pageSubmenu">
                                <li><a href="/Transaction/Index">Tạo Kế hoạch mới</a></li>
                                <li><a href="/Transaction/Manage">Quản lý Kế hoạch</a></li>
                            </ul>
                        </li>
                        <li id="dieuvan">
                            <a href="#truckSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-truck"></i> Điều vận</a>
                            <ul class="collapse list-unstyled" id="truckSubmenu">
                                <li><a href="/Coordinate/CreateNew">Tạo chuyến mới</a></li>
                                <li><a href="/Coordinate/Index">Quản lý Điều vận</a></li>
                                <li><a href="/Coordinate/TruckInfo">Thông tin xe</a></li>
                            </ul>
                        </li>
                        <li id="baocao">
                            <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-search"></i> Báo cáo</a>
                            <ul class="collapse list-unstyled" id="reportSubmenu">
                                <li><a href="/Report/GetRevenue">Báo cáo Doanh thu</a></li>
                                <li><a href="/Report/Index">Báo cáo Tổng hợp</a></li>
                                <li><a href="/Report/Daily">Kế hoạch hàng ngày</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="footer">
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved  Viconship DaNang
                        </p>
                    </div>
                </div>
            </nav>
            <!-- Page Content  -->
        <div class="container">
            <div id="content" class="p-4 p-md-5">
                <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-primary">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">Toggle Menu</span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Index/Index">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Thông tin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Login/LogOut">Đăng Xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div id="body_content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>