
@{
    ViewBag.Title = "Trang chủ";
}
<div class="container">
    <h2>Trang Chủ</h2>
    Xin chào @HttpContext.Current.User.Identity.Name.Split('|')[1]
    <br />
    Chúc bạn có một ngày làm việc vui vẻ. Be professional to serve!
</div>
